{#
/**
 * @file temporal.html.twig
 * Default theme implementation to present Temporal data.
 *
 * This template is used when viewing Temporal pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_temporal()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('temporal') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
